@media only screen and (max-width: 600px) {
  section, .layout {
    width: 100%;
  }
  .standart .layout {
    p {
      width: 100%;
    }
  }
  .header {
    .hamburger {
      width: 50px;
      height: 50px;
      padding: 10px;
      z-index: 100;
      position: absolute;
      top: 25px;
      left: 0;

      div {
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 8px;
      }

    }
    .active {
      z-index: 100;
      div:first-of-type {
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg);
        position: relative;
        top: 5px;
        left: -5px;
        width: 75%;
      }
      div:last-of-type {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
        position: relative;
        top: -5px;
        left: -5px;
        width: 75%;
      }

    }
    .logo {
      float: none;
      position: relative;
      left: 0;
      overflow: hidden;
      width:150px;

      right: 0;
      margin: auto;
    }
    .arrow-down {
      margin-top: 110px;
    }
    h2 {
      &:before, &:after {
        display: none;
      }
    }

    .top-menu {
      -webkit-transition: all 0.9s;
      -moz-transition: all 0.9s;
      -ms-transition: all 0.9s;
      -o-transition: all 0.9s;
      transition: all 0.9s;
      margin: auto;
      float: none;
      position: absolute;
      width: 300px;
      background: rgba(0,0,0,0.8);
      top: 0;
      left: 0;
      z-index: 50;
      a {
        margin: auto;
        display: block;
        text-align: center;
        line-height: 3;
        &:first-of-type {
          margin-top: 100px;
        }
        &:last-of-type {
          margin-bottom: 50px;
        }
       &:after {
         display: none;
       }
      }
    }
    .menu-left{
      left: -500px;
      -webkit-transition: all 0.9s;
      -moz-transition: all 0.9s;
      -ms-transition: all 0.9s;
      -o-transition: all 0.9s;
      transition: all 0.9s;
    }
  }
  .receive {
    .underline {
      border: none;
    }
    .gallery {
      width: 100%;

      .receive-cont {
        margin-top: 50px;
        width: 300px;
        float: none;
        position: relative;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        &:nth-child(2) {
          margin-right: auto;
        }
        &:last-child, &:nth-child(3) {
          margin-right: auto;
        }
        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
  .join {
    .arrow-down {
      margin-top: 20px;
      margin-bottom: 70px;
    }
  }
  .process {
    &.standart .layout {
      padding-top: 30px;
      padding-bottom: 25px;
      .arrow-down {
        border: 1px solid $bg;
        background: #fff url(../images/arrow-2.png) center no-repeat;

        margin: 5px auto 0px;
      }
    }
    .step-scheme {
      margin-top: 0px;
      width: 350px;
      height: 950px;

      .step1 {
        top: 70px;
        left: 5px;

      }
      .big-step {

        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);


      }
      .step-img {
        top: 685px;
        left: -40px;

        border-left: 4px solid #fc635d;
        border-right: 4px solid #fc635d;
        &:before, &:after {
          border-left: 4px solid #fc635d;
          border-right: 4px solid #fc635d;
          left: -3px;
        }

        .step-line {
          display: none;
        }

      }
      .step2 {
        left: 87px;
        top: 220px;
        z-index: 2;

        border-left: 4px solid #fc635d;
        border-right: none;

        .fix-border {
          position: absolute;
          border-right: 1.4142px solid #adadad;
          width: inherit;

          height: 98.5px;
          top: 2.5px;
          right: -4.5px;
        }
        &:before {
          border-left: 4px solid #fc635d;
          z-index: 2;

        }
        &:after {
          left: 1px;
          top: 1px;
          height: 102px;
        }

      }
      .step3 {
        top: 370px;
        left: 0px;
        border-right: 1.4142px solid #adadad;

        &:after {
          border-right: 1.4142px solid #adadad;
          border-left: 4px solid #fc635d;
          left: -4px;
        }
      }

      .step4 {
        padding: 0 30px;
        top: 506px;
        right: 26px;
        border-right: 4px solid #fc635d;

        &:before {
          left: -1px;
          top: -1px;

          border-right: 4px solid #fc635d;

        }
        &:after {
          border-left: 4px solid #fc635d;
          border-right: 4px solid #fc635d;
        }
        .step5 {
          background: #fff;
          top: 202px;
          left: 110px;
          border: 2px solid #fc635d;
          z-index: 3;
        }
        h2 {
          font-size: 32.01px;
          font-family: PFEncoreSansPro-Medium;
          color: #868686;
          margin-top: -11px;
        }
        p {
          color: #bbbbbb;
          font-size: 19px;
          font-family: PFEncoreSansPro-light;
          margin-top: 13px;
        }
      }
    }
    .step-img-cont {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: #fc635e;
      position: absolute;
      left: -17px;
      top: -17px;
    }

  }
  .landing-block {
    width: 100%;
    max-width: 400px;
  }
  .landing {

    .landing-img {
      clear: both;
      float: none;
      position: relative;
      height: 660px;
      width: 100%;

      img:first-of-type {
        left: 0px;
        right: 0;
        margin: auto;
        top: 0;
        width: 100%;
        height: auto;
        max-width: 386px;
      }
      img:nth-child(2) {
        top: 420px;
        left: 0px;
        right: 0;
        margin: auto;
      }
      img:nth-child(3) {
        top: 245px;
        left: 0px;
        right: 0;
        margin: auto;
      }
    }
  }
  .advertise {
    .layout {
      padding-bottom: 50px;
      .landing-block {
        button {
          margin-bottom: 50px;
        }
      }
    }
    .landing-block {

      width: 100%;
      h3 {
        &:after {
          content: '';
          position: absolute;
          top: -4px;
          right: -16px;
          width: 10px;
          height: 39px;
          background: $bg;
        }
        &:before {
          display: none;
        }
      }

    }
    .mack-book-pro {
      position: relative;
      width: 100%;
      max-width: 300px;
      height: auto;
      left: 0;
      right: 0;
      margin: 0px auto 0;
    }
    .arrow-down {
      bottom: -30px;
    }
  }
  .marketing-kit {
    padding-bottom: 50px;
    overflow: hidden;
    background: #f2f2f2;
    width: 100%;
    .marketing-kit-img {
      position: relative;
      margin: 0px auto 0px;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
    }

  }
  .bread-crumbs {
    span {
      line-height: 1.5;
      margin-right: 15px;
      font-size: 18px;
      &:first-of-type {
        margin-left: 5px;
      }
      &:nth-child(4) {
        margin-right: 15px;
      }
      &:last-of-type {

        margin-right: 0px;
      }
      &:after {
        top: 5px;
        right: -8px;

      }
    }
  }
  .portfolio-gallery {
    width: 100%;
    max-width: 400px;
    img {
      margin-left: 0%;
      margin-right: 4%;
      width: 48%;
      height: auto;
      &:first-of-type {
        width: 100%;
        height: auto;
        margin: 0 0 15px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(5n+5) {
        margin-right: 0;
      }
      &:last-of-type {
        width: 100%;
        height: auto;
        margin: 0;
      }

    }
  }
  .our-team {
    .gallery {
      overflow: hidden;
      .team-cont {
        width: 100%;
      }
    }
  }
  .slider-section {
    .layout {
      text-align: left;
      padding-bottom: 0px;
    }

    .slider {
      margin-top: 50px;
      position: relative;
      height: auto;

      .slider-block1 {
        width: 100%;
        text-align: center;
        max-width: 320px;
        position: relative;
        left: -300px;
        right: 0;
        margin: auto;
      }
      .slider-block2 {
        margin: auto;
        text-align: center;
        font-size: 300px;
        left: 100%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      .slide {
        display: none;
      }

      .slider-block1, .slider-block2, .slider-img {
        float: none;
      }
      .slide {
        position: relative;
       height: 500px;
      }
      .slider-img  {
        position: relative;
        top: -300px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
      }
      .slider-img-anim {
        top: -5000px;
      }
      .slider-img-container {

      }
      .arrows-cont {
        top: 200px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  #map {
    margin-top: 100px;
  }

}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  section {
    width: 100%;
  }
  .layout {
    width: 600px;
  }
  .header {

    .top-menu {
      float: right;
      margin-top: 48px;
      a {
        margin-left: 38px;
        &:last-of-type {
          margin-right: 10px;
        }
      }
    }
    .arrow-down {
      margin-top: 100px;
    }
  }
  .receive .gallery {
    width: 600px;
    .receive-cont {
      margin-left: 48px;
      margin-right: 48px;
      &:nth-child(2) {
        margin-right: 48px;
      }
      &:last-child, &:nth-child(3) {
        margin-right: 48px;
      }
      &:last-child {
        margin-left: 48px;
      }
    }
  }
  .join {
    .arrow-down {
      margin-top: 20px;
    }
  }
  .process {
    .step-scheme {
      width: 600px;
      .step1 {
        left: 0px;
      }
      .step-img {
        left: 42px;
      }
      .step2 {
        left: 266.4px;
      }
      .step3 {
        left: 357px;
      }
      .step4 {
        padding: 0 30px;
        top: 206px;
        right: -20px;
        width: 175px;
        height: 101.04px;
        &:after {

        }
        &:before {
          border-left: 4px solid #fc635d;
          left: -2px;
        }
        .step5 {
          left: -20px;
          top: 80px;
        }
        h2 {
          font-size: 32.01px;
        }
        p {
          font-size: 18px;
        }
      }

    }
  }
  .landing {
    .arrow-down {

      bottom: 20px;
    }
    .landing-img {
      clear: both;
      margin-bottom: 100px;
    }
  }
  .landing-block {
    button {
      margin-bottom: 30px;
    }
  }
  .advertise {
    .layout {
      padding-bottom: 25px;
    }

    .mack-book-pro {
      position: relative;
      margin-top: 0px;
      margin-left: 0px;
    }

  }
  .marketing-kit {
    .landing-block{
      button {
        margin-bottom: 50px;
      }
    }
    .marketing-kit-img {
      position: relative;
      margin-left: 0px;
      margin-top: 0px;
    }

  }
  .bread-crumbs {
    span {
      margin-right: 30px;
      font-size: 18px;
      &:first-of-type {
        margin-left: 15px;
      }
      &:nth-child(4) {
        margin-right: 30px;
      }
      &:last-of-type {
        margin-right: 0px;
      }
      &:after {
        right: -15px;

      }
    }
  }
  .our-team {
    padding-bottom: 67px;
    .layout {
      width: 100%;
      padding-top: 40px;
    }
    .gallery {
      overflow: hidden;
      margin-top: 82px;
      .team-cont {
        width: 33.33%;
        float: left;
        overflow: hidden;
        &:first-of-type {
          white-space: nowrap;
        }

      }

    }
    .arrow-down {
      bottom: -54px;
    }
  }
  .slider-section {
    .layout {
      text-align: left;
      padding-bottom: 0px;
    }

    .slider {
      margin-top: 50px;
      position: relative;
      height: auto;

      .slider-block1 {
        width: 100%;
        text-align: center;
        max-width: 320px;
        position: relative;
        left: -300px;
        right: 0;
        margin: auto;

      }
      .slide {
        display: none;
        position: relative;
        height: 500px;
      }
      .slider-block2 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
        text-align: center;
      }
      .slider-block1, .slider-block2, .slider-img {
        float: none;
      }
      .slider-img  {
        top: -300px;
        position: relative;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: auto;
      }
      .arrows-cont {
        top: 200px;
        width: 500px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  .portfolio-gallery {
    width: 600px;
    overflow: hidden;
    margin: 0 auto 47px;

    img {
      float: left;
      margin-right: 0px;
      margin-bottom: 12px;
      width: 31.25%;
      height: 150px;
        &:first-of-type, &:last-of-type {
          width: 65%;
          margin-right: 2.5%;
        }
      &:nth-child(3n+3) {
         margin-right:  2.5%;
       }

      &:nth-child(4n+4) {
        margin-right:  2.5%;
      }
      &:last-of-type {
        margin: 0 17.5%;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 940px) {
    section {
      width: 100%;
    }
    .layout {
      width: 768px;
    }
    .header {

      .top-menu {
        float: right;
        margin-top: 48px;
        a {
          margin-left: 38px;
          &:last-of-type {
            margin-right: 10px;
          }
        }
      }
      h2 {
        &:after {
          left: -80px;
        }
        &:before {
          right: -80px;
        }
      }
      .arrow-down {
        margin-top: 100px;
      }
    }
    .receive .gallery {
      width: 768px;
      .receive-cont {
        width: 33.33%;
        margin-left: 0px;
        margin-right: 0px;
        &:nth-child(2) {
          margin-right: 0px;
        }
        &:last-child, &:nth-child(3) {
          margin-right: 0px;
        }
        &:last-child {
          margin-left: auto;
          margin-right: auto;
          position: relative;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);


        }
        
      }
    }
    .join {
      .arrow-down {
        margin-top: 20px;
      }
    }
    .process {
      .step-scheme {
        width: 600px;
        .step1 {
          left: 0px;
        }
        .step-img {
          left: 42px;
        }
        .step2 {
          left: 266.4px;
        }
        .step3 {
          left: 357px;
        }
        .step4 {
          padding: 0 30px;
          top: 206px;
          right: -20px;
          width: 175px;
          height: 101.04px;
          &:after {

          }
          &:before {
            border-left: 4px solid #fc635d;
            left: -2px;
          }
          .step5 {
            left: -20px;
            top: 80px;
          }
        }

      }
    }
    .landing {
      .arrow-down {

        bottom: 20px;
      }
      .landing-img {
        width: 300px;
        left: -110px;
        top: 30px;
        margin-bottom: 150px;
      }
    }
    .landing-block {
      button {
        margin-bottom: 30px;
      }
    }
    .advertise {
      .layout {
        padding-bottom: 25px;
      }
      .mack-book-pro {
        left: -100px;
      }

    }
    .marketing-kit {
      .landing-block{
        button {
          margin-bottom: 50px;
        }
      }
      .marketing-kit-img {
        right: -120px;
      }

    }
    .bread-crumbs {
      span {
        margin-right: 30px;
        font-size: 18px;
        &:first-of-type {
          margin-left: 18%;
        }
        &:nth-child(4) {
          margin-right: 30px;
        }
        &:last-of-type {
          margin-right: 0px;
        }
        &:after {
          right: -15px;

        }
      }
    }
    .our-team {
      padding-bottom: 67px;
      .layout {
        width: 100%;
        padding-top: 40px;
      }
      .gallery {
        overflow: hidden;
        margin-top: 82px;
        .team-cont {
          width: 33.33%;
          float: left;
          overflow: hidden;
          &:first-of-type {
            white-space: nowrap;
          }

        }

      }
      .arrow-down {
        bottom: -54px;
      }
    }
    .slider-section {
      .layout {
        text-align: left;
        padding-bottom: 0px;
      }

      .slider {
        margin-top: 50px;
        position: relative;
        height: auto;

        .slider-block1 {
          width: 100%;
          text-align: center;
          max-width: 320px;
          position: relative;
          left: -300px;
          right: 0;
          margin: auto;


        }
        .slide {
          display: none;
          position: relative;
          height: 500px;
        }
        .slider-block2 {
          left: 100%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          margin: auto;
          text-align: center;
        }
        .slider-block1, .slider-block2, .slider-img {
          float: none;
        }
        .slider-img  {
          position: relative;
          top: -300px;
          left: 50%;
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          margin: auto;
        }

        .arrows-cont {
          top: 235px;
          width: 500px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    .portfolio-gallery {
      width: 600px;
      overflow: hidden;
      margin: 0 auto 47px;

      img {
        float: left;
        margin-right: 0px;
        margin-bottom: 12px;
        width: 31.25%;
        height: 150px;
        &:first-of-type, &:last-of-type {
          width: 65%;
          margin-right: 2.5%;
        }
        &:nth-child(3n+3) {
          margin-right:  2.5%;
        }

        &:nth-child(4n+4) {
          margin-right:  2.5%;
        }
        &:last-of-type {
          margin: 0 17.5%;
        }
      }
    }
  }